.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  
  & h2 {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
}

.form {
  padding-top: 0.5rem;
  padding-bottom: 0.825rem;
}

.fake {
  height: 44.5px;
}

.link {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.forgotPassword {
  display: flex;
  align-items: flex-start;
  color: #000;
  margin-top: -0.8rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}