.exercise {

  &Wrapper {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & svg {
      padding: 0.5rem;

      &:nth-child(1) {
        margin-top: 2.6rem;
      }

      &:nth-child(2) {
        margin-top: 2.6rem;
      }

      @media (max-width: 720px) {
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
  }

  &WrapperSection {
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

.button {
  position: fixed;
  bottom: 1rem;
  border-radius: 10px;
  background-color: #AA00FF;
  width: calc(100vw - 2rem);
  max-width: 56.25rem;
}

.skeletonWrapper {
  margin: 0.5rem 0;
}