.exercise {

  &Title {
    font-size: 1.7rem;
  }

  &Cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &Wrapper {
    text-align: left;
  }

  &WrapperSection {
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

.button {
  position: fixed;
  bottom: 1rem;
  border-radius: 10px;
  background-color: #AA00FF;
  width: calc(100vw - 2rem);
  max-width: 56.25rem;
}

.skeletonWrapper {
  margin: 0.5rem 0;
}