.pause {
  &Wrapper {
    position: absolute;
    z-index: 15;
    width: 100%;
    left: 0;
    top: 25rem;

    @media (max-width: 630px) {
      top: 23rem;
    }

    @media (max-width: 520px) {
      top: 21rem;
    }

    @media (max-width: 450px) {
      top: 19rem;
    }
  }

  &Title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;

    @media (max-width: 670px) {
      font-size: 1.25rem;
    }
  }

  &Description {
    @media (max-width: 670px) {
      font-size: 0.75rem;
    }
  }

  &LeaveButton {
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid;
    width: 40%;
    margin-top: 1rem;

    @media (max-width: 500px) {
      font-size: 0.75rem;
    }
  }
}


