.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding-top: 4.5rem;
}

.imgWrapper {

  img {
    border-radius: 10px;
    width: calc(100% - 2rem);
  }
}