.video {
  &Wrapper {
    margin-top: 2rem;
    text-align: center;

    &Pause {
      margin-top: 2rem;
      video {
        position: relative;
        z-index: 2;
        filter: blur(7px);
        border-radius: 10px;
      }
    }
  }
}

video {
  max-width: 100%;
  max-height: 420px;
  border-radius: 10px;
}