.exercisePageSection {
  text-align: center;
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

.title {
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.imgWrapper {
  text-align: center;
  margin-top: 2rem;

  img {
    max-width: 100%;
    max-height: 420px;
  }
}

.playPauseSection {
  position: fixed;
  bottom: 1rem;
  width: calc(100vw - 2rem);
  max-width: 56.25rem;
}

.videoWrapper {
  margin-top: 2rem;
}