.goback {
  text-align: left;
  font-size: 1.5rem;
  padding-top: 1rem;

  &:hover {
    .underline {
      width: 5.7rem;
    }
  }
}

.underline {
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease-in;
  border-radius: 5px;
}