.exercise {

  &Title {
    font-size: 1.25rem;
  }

  &Cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &Wrapper {
    text-align: left;
  }

  &WrapperSection {
    padding-top: 1rem;
  }
}
