.exercise {

  &Title {
    font-size: 1.25rem;
  }

  &Cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &Wrapper {
    text-align: left;
  }

  &WrapperSection {
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

.button {
  position: fixed;
  bottom: 1rem;
  width: calc(100vw - 2rem);
  max-width: 56.25rem;
}
