.pause {
  &Wrapper {
    position: absolute;
    z-index: 15;
    width: 100%;
    left: 0;
    top: 40%;

    @media (max-width: 590px) {
      top: 35%;
    }

    @media (max-width: 500px) {
      top: 33%;
    }

    @media (max-width: 440px) {
      top: 30%;
    }

    @media (max-width: 370px) {
      top: 28%;
    }
  }

  &Title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;

    @media (max-width: 670px) {
      font-size: 1.25rem;
    }
  }

  &Description {
    @media (max-width: 670px) {
      font-size: 0.75rem;
    }
  }

  &LeaveButton {
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid;
    width: 40%;
    margin-top: 1rem;

    @media (max-width: 500px) {
      font-size: 0.75rem;
    }
  }
}


