.button {

  &Wrapper {
    max-width: 100%;
    border-radius: 10px;
    background-color: #AA00FF;
    padding: 1rem 0.5rem;
  }
}

.link {
  color: aliceblue;
  text-decoration: none;
  width: 100%;
}
