.switchButton {
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.1rem 1.875rem;
  font-size: 1.25rem;

  @media (max-width: 440px) {
    font-size: 1.1rem;
    padding: 0.1rem 1.2rem;
  }
}