.error {
  font-size: 1.25rem;
  border: 1px solid;
  border-radius: 10px;
  color: #fff;
  padding: 0.5rem 0.7rem;
  background-color: #ff2972;
  animation: Opacity 1.5s;
}

.success {
  font-size: 1.25rem;
  border: 1px solid;
  border-radius: 10px;
  color: #fff;
  padding: 0.5rem 0.7rem;
  background-color: #9fd3c7;
  animation: Opacity 1.5s;
}

@keyframes Opacity {
  0% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}